[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/jbroadus/riscv-linux.git
